:root {
  --message-height: 80px; /* Adjust this value as needed */
}

.container {
  width: calc(100vw - 2rem);
  min-height: 100vh;
  background: linear-gradient(to bottom right, #8e2de2, #4a00e0) fixed;
  padding: 1rem;
  overflow-y: auto;
}

.headerContainer {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.eventsContainer {
  width: 600px;
  max-width: calc(100vw - 2rem);
  margin: auto;
}

.item {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  animation: slideDown 0.5s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.item a {
  text-decoration: underline;
}

.comment {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zapAmount {
  font-size: 1rem;
  color: #4a5568;
}

.createdAt {
  font-size: 0.8rem;
  color: #718096;
}

@keyframes slideDown {
  from {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  to {
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}
